# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# temp
tmp/
debug_clips/

# outputs
output/

# input videos
video/

# ByteTrack runtime
ByteTrack/pretrained/
ByteTrack/build/
ByteTrack/YOLOX_outputs/
mmaction2/demo.mp4
ByteTrack/demo.mp4

# mmaction runtime
mmaction2/checkpoints/

# OS
.DS_Store

# .pdf
*.pdf